.BubbleQuicklookWrapper {
	display: block;
	top: -450px;
	left: -8em;
	background: white;
	position: absolute;
	z-index: 20;

	-webkit-box-shadow: 0 14px 28px rgba(118, 118, 118, 0.461),
		0 10px 10px rgba(118, 118, 118, 0.461);
	-moz-box-shadow: 0 14px 28px rgba(118, 118, 118, 0.461),
		0 10px 10px rgba(118, 118, 118, 0.461);
	box-shadow: 0 14px 28px rgba(118, 118, 118, 0.461),
		0 10px 10px rgba(118, 118, 118, 0.461);
}

.BubbleQuicklookWrapper img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.BubbleQuicklookWrapper .Arrow {
	position: absolute;
	bottom: -4.2em;
	left: 50%;
	margin-left: -2.2em;

	width: 0;
	height: 0;

	box-sizing: border-box;

	border: 30px solid black;
	border-color: transparent transparent white white;

	transform-origin: 0 0;
	transform: rotate(-45deg);

	box-shadow: -3px 3px 3px 0 rgba(118, 118, 118, 0.461);
}
